name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [guessing_game, pmtiles]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: ${{ matrix.project }}

      - name: Build
        run: cargo build --manifest-path ${{ matrix.project }}/Cargo.toml

      - name: Test
        run: cargo test --manifest-path ${{ matrix.project }}/Cargo.toml
